# Projection-based HMoG configuration
defaults:
  - hmog_proj
  - _self_

latent_dim: 50
n_clusters: 20
kmeans_init: false

pre:
  lr: 1e-4
  n_epochs: 1000
  batch_steps: 1000
  l1_reg: 0
  l2_reg: 0
  grad_clip: 1
  min_var: 1e-4
  jitter_var: 0
  epoch_reset: true

pro:
  lr: 1e-4
  n_epochs: 1000
  batch_steps: 1000
  grad_clip: 10
  min_prob: 1e-4
  lat_min_var: 1e-4
  l2_reg: 0
  lat_jitter_var: 0
  epoch_reset: true
  upr_prs_reg: 0
  lwr_prs_reg: 0
