defaults:
  - hmog
  - _self_

latent_dim: 50
n_clusters: 200

num_cycles: 2

lgm_noise_scale: 0.01
mix_noise_scale: 0.01

pre:
  n_epochs: 0

lgm:
  n_epochs: 0

mix:
  n_epochs: 0

full:
  lr: 1e-4
  n_epochs: 500
  batch_steps: 1000
  grad_clip: 1
  min_prob: 1e-5
  obs_min_var: 1e-6
  lat_min_var: 1e-6
  l1_reg: 0
  l2_reg: 1e-4
  upr_prs_reg: 3e-4
  lwr_prs_reg: 3e-4

