# MNIST two-stage projection experiment configuration
defaults:
  - hmog_proj
  - _self_

latent_dim: 20
n_clusters: 50

pre:
  lr: 1e-4
  n_epochs: 500
  batch_steps: 1000
  l1_reg: 0
  l2_reg: 0
  grad_clip: 1
  min_var: 1e-5
  jitter_var: 0

pro:
  lr: 1e-4
  n_epochs: 1000
  batch_steps: 1000
  grad_clip: 1
  min_prob: 1e-5
  lat_min_var: 1e-5
  l1_reg: 0
  l2_reg: 0
  epoch_reset: true
