defaults:
  - hmog-full
  - _self_

latent_dim: 50
n_clusters: 200

lr_scales: [1,1,1]
num_cycles: 3

lgm_noise_scale: 0.01
mix_noise_scale: 0.01

pre:
  n_epochs: 0

lgm:
  n_epochs: 0

mix:
  n_epochs: 0

full:
  lr: 1e-4
  n_epochs: 200
  batch_steps: 1000
  #batch_size: 128
  grad_clip: 1
  min_prob: 1e-5
  obs_min_var: 1e-6
  lat_min_var: 1e-6
  l1_reg: 0
  l2_reg: 3e-4
  upr_prs_reg: 3e-4
  lwr_prs_reg: 3e-4
  mixture_entropy_reg: 3e-4
  epoch_reset: true

analyses:
  generative_samples:
    enabled: true
    n_samples: 100
  cluster_statistics:
    enabled: true
  co_assignment_hierarchy:
    enabled: true
  optimal_merge:
    enabled: false
    filter_empty_clusters: true
    min_cluster_size: 0.0005
  co_assignment_merge:
    enabled: true
    filter_empty_clusters: true
    min_cluster_size: 0.0005
